/* Home */
@media screen and (max-width: 750px){
    #navbar{
        display: flex;
        flex-direction: column;
    }
    #navbar img{
        margin: auto;
    }
    #introSection div.big{
        font-size: 45px;
    text-align: center;
    }
    #introSection div.small{
        font-size: 25px;
    }
}
@media screen and (max-width: 500px){
    #navbar ul li a{
        padding: 2px;
        margin:11px;
    }
}
@media screen and (max-width: 1300px){
    #sponsorsSection .container{
        display: flex;
        flex-wrap: wrap;
    }
    #sponsorsSection img{
        margin: auto;
    }
}

/* Contact */
@media screen and (max-width: 700px){
    .myInput{
        width: 280px;
    }
}
@media screen and (max-width: 830px){
    .btn{
        width: 80px;
    }
}

/* Services */
@media screen and (max-width: 700px){
    .style{
        display: flex;
        flex-direction: column;
    }
    .card{
        display: flex;
        flex-direction: column;
    }
    .card img{
        margin: auto;
    }
    .style h3{
        margin: auto;
    }
    .mid{
        flex-direction: column-reverse;
    }
}
